.central-view-shell {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.central-view-main {
  flex: 1;
  min-height: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.central-view-main > .feed-visualizer-container,
.central-view-main > .feed-visualizer {
  flex: 1;
  min-height: 0;
}
